<form [formGroup]="pacienteForm" (submit)="salvarPaciente()" class="text-center p-5">

  <div>

    <label for="nome" class="pr-5">Nome: </label>
    <input id="nome" formControlName="nome" type="text" required="" maxlength="255">

  </div>

  <div>

    <label for="nomeMae" class="pr-5">Nome da Mãe: </label>
    <input id="nomeMae" formControlName="nomeMae" type="text" maxlength="255">

  </div>

  <div>

    <label for="genero" class="pr-5">Gênero: </label>
    <select id="genero" formControlName="genero" required>
      <option [ngValue]="null">Escolher gênero...</option>
      <option *ngFor="let opcaoGenero of opcoesGenero | keyvalue">{{opcaoGenero.key}}</option>
    </select>

  </div>

  <div>

    <label for="nascimento" class="pr-5">Data nascimento: </label>
    <input id="nascimento" formControlName="nascimento" type="datetime-local" required="">

  </div>

  <div>

    <label for="rg" class="pr-5">RG: </label>
    <input id="rg" formControlName="rg" type="number" maxlength="20">

  </div>

  <div>

    <label for="cpf" class="pr-5">CPF: </label>
    <input id="cpf" formControlName="cpf" type="number" maxlength="11">

  </div>

  <div>

    <label for="endereco" class="pr-5">Endereço: </label>
    <input id="endereco" formControlName="endereco" type="text" maxlength="255">

  </div>

  <div>

    <button type="submit" [disabled]="pacienteForm.invalid" onClick="location.reload()">Salvar</button>

  </div>

</form>
